
/* all need to be like page, from top till down */
body, html {
    height: 100%;
    font-family: "Arial";
  }
body {
    background-position: center center;
    background-image: url('photos/bckgr01.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto 100%;
  }
.header {
    padding: 10px;
    text-align: center; 
    background: #232323; 
    color: white; 
  }
  .header h1 {
    font-size: 40px;
  }
.navbar {
    background-color: #101010;
    overflow: hidden;
  }
  .navbar a {
    float: left;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .navbar a:hover {
    color: black;
    background-color: #ddd;
  }

  .navbar a.right {
    float: right;
    color: white;
    background-image: linear-gradient(to bottom left,rgb(4, 0, 255), rgb(0, 119, 255));;
  }

.navbar a.right:hover {
  color: rgb(255, 255, 255);
  background-image: linear-gradient(to bottom left,rgb(0, 3, 151), rgb(0, 71, 153));;
}
.stText {
    text-align: center;
    color:white;
    font-size:32px;
    margin: auto;
}
.lngText {
    text-align: center;
    color:white;
    font-size:32px;
    margin: auto;
    background: #333;
    padding-top: 30px;
    padding-bottom: 30px;
}
.button {
    background-color: #11aa03;
    border: none;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    
    display: inline-block;
    font-size: 22px;
    margin: 4px 2px;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 3px;
  }
  .button:hover {
    background-color: #0a7a00;
  }
.YTButton {
    background: none;
    border: none;
    padding: 0;
}
 .pro_tip {
    background-color: #008fe2;
    color: white;
    padding: 20px;
    margin-bottom: 15px;
  }

.ndText {
    text-align: center;
    color:white;
    font-size:25px;
    margin: auto;
}
.column {
    width: 32.5%;
    padding: 5px;
    float: left;
  }
.row::after {
    clear: both;
    display: table;
    content: "";
  }
.bluespace {
    background-color: #008fe2;
    opacity: .8;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #232323;
  color: white;
  text-align: center;
}
